@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

.unicbg2 {
  opacity: 1;
  position: absolute;
  inset: 0px;
  background-size: cover;
  background-position: center center;
  z-index: -2000;
  background-image: url('./img/bogota-desktop.jpg');
  height: 680px;
}

.unicbg {
  opacity: 1;
  position: absolute;
  inset: 0px;
  background-size: cover;
  background-position: center center;
  z-index: -2000;
  background-image: url('./img/Guatapebg.png');
  height: 520px;
}

.burger-icon {
  display: none;
}

.slideFromRight {
  animation-name: slideFromRight;
}

.zoom-image {
  transition: transform 0.3s ease-in-out;
}

.zoom-image:hover {
  transform: scale(1.1);
}

/* timeline */

.timeline {
  position: relative;
  max-width: 800px;
  margin: auto;
}

.timeline-section {
  position: relative;
  margin-bottom: 40px; /* Space between sections */
}

.line {
  position: absolute;
  top: 1rem; /* Adjust top position as needed */
  bottom: 0;
  left: calc(var(--timeline-title-width) + var(--timeline-column-gap) / 2);
  border-left: 0.125rem dashed var(--opacity-light); /* Dashed line style */
}

.titleline {
  position: relative;
  z-index: 1;
}

.containerline {
  display: flex;
  align-items: center;
}

.timeline-title {
  display: flex;
  flex-direction: column;
}

.content.animated {
  transition: all 0.3s ease-in-out; /* Smooth transition for animations */
}

.date {
  font-size: 1.5rem; /* Larger font for date */
  font-weight: bold;
}

.weekday {
  font-size: 1rem; /* Smaller font for weekday */
  color: var(--text-secondary-color);
}

.dot-outer-wrapper {
  position: absolute;
  left: calc(50% - 10px); /* Center the dot */
}

.dot-wrapper {
  display: flex;
  justify-content: center;
}

.dot {
  width: 12px;
  height: 12px;
  background-color: var(--primary-color);
  border-radius: 50%;
}

.flex-1 {
  flex-grow: 1; /* Allow flex item to grow */
}

.card-wrapper {
  margin-top: 20px; /* Space above cards */
}

.content-card {
  background-color: var(--card-background);
  border-radius: var(--card-border-radius);
  box-shadow: var(--card-shadow);
  padding: var(--card-padding);
  display: flex;
  cursor: pointer; /* Indicate clickable card */
}

.content-card:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Shadow on hover */
}

.event-link {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
}

.event-content {
 display:flex; 
 flex-direction: column; 
 justify-content:flex-start; 
 width:auto; 
 padding-left:.5rem
}

.info-and-cover {
 display:flex; 
 align-items:center
}

.cover-image img {
 border-radius:.5rem
}

.event-time {
 display:flex; 
 align-items:center
}

.mountains-of-christmas-regular {
  font-family: "Mountains of Christmas", serif;
  font-weight: 700;
  font-style: normal;
}

.attribute {
 display:flex; 
 align-items:center
}

.content-animated {
  border-color: rgb(255 255 255 / 8%);
  background-color: rgba(19,21,23,0.64);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter:blur(15px);
  box-shadow: 0 0.7px 2.7px rgba(0,0,0,.1) ,0 1.7px 6.9px rgba(0,0,0,.13), 0 3.5px 14.2px rgba(0,0,0,.17), 0 7.3px 29.2px rgba(0,0,0,.22);
  border-radius: 22px;
  display: inline-flex;
  align-items: center; 
  padding: 5px 12px; 
  border-radius: 20px; 
  font-weight: 600;
  font-size: 14px;
  gap: 8px;
  line-height: 1;
}

.content-animated::before{
  display: block;
  width: 8px; /* Tamaño del círculo */
  height: 8px;
  background-color: rgb(255 255 255 / 8%);
  border-radius: 50%; /* Hace el punto redondo */
}

/* slide copy */

.aesthetic-slider {
  position: relative;
  width: 100%;
  /* max-width: 1200px; */
  height: 500px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 14px;
  background: linear-gradient(135deg, #ff9a9e, #fad0c4);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.slide-wrapper {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: opacity 1.5s ease, transform 1.5s ease;
  opacity: 0;
  transform: scale(1.1) rotate(1deg);
  filter: blur(10px) brightness(80%);
}

.slide.active {
  opacity: 1;
  transform: scale(1) rotate(0deg);
  filter: blur(0) brightness(100%);
}

.slide.inactive {
  opacity: 0;
}

.controls {  
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  z-index: 10;
}

.control-button {
  background: rgba(255, 255, 255, 0.6);
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: #444;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  margin: 15px;
}

.control-button:hover {
  background: #fff;
  transform: scale(1.1);
}

.progress-indicator {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.indicator {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  transition: background 0.3s ease;
}

.active-indicator {
  background: #fff;
}


/*  */


@media (max-width: 650px) {
  .unicbg {
    background-image: url('./img/Bogotabg.png');
    background-position: center top;
  }
  .unicbg2 {
    background-image: url('./img/bogota-mobile.jpg');
    background-position: center top;
  }
  .logoinitial {
    display: block;
    justify-items: center;
  }
  .initial {
    margin-bottom: 5px;
  }
}

@media (max-width: 576px) {
  .large-menu {
    display: none;
  }
  .burger-icon {
    display: block;
  }
}
@media (max-width: 576px) {
  .slideFromRight {
    animation-name: slideFromRight;
    width: 390px;
  }
}


@media (max-width: 406px) {
  .minicart {
    width: 320px;
  }
}

/* Drawer que se desliza desde la derecha */
@keyframes slideInFromRight {
  from {
    transform: translateX(100%); /* Comienza fuera de la pantalla a la derecha */
  }
  to {
    transform: translateX(0); /* Llega a su posición original */
  }
}

@keyframes slideOutToRight {
  from {
    transform: translateX(0); 
  }
  to {
    transform: translateX(100%); 
  }
}

.slideFromRight-enter {
  animation: slideInFromRight 0.3s ease-out forwards;
}

.slideFromRight-exit {
  animation: slideOutToRight 0.3s ease-in forwards;
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
